@using EduHome.Areas.Admin.ViewModels.SkillViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model DeleteSkillViewModel
<div class="content-wrapper">
    <div class="row">
        <div>
          
            <h4>Title:@Model.Name</h4>
            <h4>Percent:@Model.Percent</h4>

        </div>
        <div>
            <div style="display: flex; margin-left: 20px;">
                <form method="post">
                    <button class="btn btn-danger" type="submit">delete</button>
                </form>
                <a class="btn btn-primary" asp-action="Index">go back</a>
            </div>

        </div>
    </div>

</div>

