@using EduHome.Areas.Admin.ViewModels.SkillViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model DetailSkillViewModel
<div>
    <div class="container">

<h3> Name-@Model.Name</h3>
        <h3> Percent-@Model.Percent</h3>






<h4>TEACHERS</h4>
<ul>
    @foreach (var teacher in Model.Teachers)
    {
        <li>@teacher.Name </li>
    }
</ul>
</div>
</div>


