@using EduHome.Models
@using EduHome.Areas.Admin.ViewModels.CourseViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model CreateCourseViewModel
<div class="card">
	<div class="card-body">
		<h4 class="card-title">Course</h4>

		<form class="forms-sample" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label for="exampleInputUsername1">Img</label>
				<input class="form-control" asp-for="Img" placeholder="Img" accept="image/*"
>
				<span asp-validation-for="Img" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="exampleInputUsername1">Name</label>
				<input class="form-control" asp-for="Name" placeholder="Title">
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label for="exampleInputUsername1">Description</label>
				<input class="form-control" asp-for="Description" placeholder="Description">
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<textarea id="editor"></textarea>


			<div class="form-group">
				<label for="exampleInputUsername1">About</label>
				<input class="form-control" asp-for="About" placeholder="About">
				<span asp-validation-for="About" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="exampleInputUsername1">Duration</label>
				<input class="form-control" asp-for="Duration" placeholder="Duration">
				<span asp-validation-for="Duration" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="exampleInputUsername1">SkillLevel</label>
				<input class="form-control" asp-for="SkillLevel" placeholder="SkillLevel">
				<span asp-validation-for="SkillLevel" class="text-danger"></span>
			</div>


			<div class="form-group">
				<label for="exampleInputUsername1">Assestments</label>
				<input class="form-control" asp-for="Assestments" placeholder="Assestments">
				<span asp-validation-for="Assestments" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="exampleInputUsername1">Fee</label>
				<input class="form-control" asp-for="Fee" placeholder="Fee">
				<span asp-validation-for="Fee" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label for="exampleInputUsername1">Students</label>
				<input class="form-control" asp-for="Students" placeholder="Students">
				<span asp-validation-for="Students" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label for="exampleInputUsername1">Language</label>
				<input class="form-control" asp-for="Language" placeholder="Language">
				<span asp-validation-for="Language" class="text-danger"></span>
			</div>
		
			<div class="form-group">
				<label for="exampleInputUsername1">StartDate</label>
				<input class="form-control" asp-for="StartDate" placeholder="Startdate">
				<span asp-validation-for="StartDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="exampleInputUsername1">ClassDuration</label>
				<input class="form-control" asp-for="ClassDuration" placeholder="ClassDuration">
				<span asp-validation-for="ClassDuration" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label for="SelectedSpeakerIds">Speakers</label>
				<select asp-for="SelectedCategoryIds" asp-items="new SelectList(Model.AvailableCategory, nameof(CategoryViewModel.Id), nameof(CategoryViewModel.Name))" multiple class="form-control">
				</select>
				<span asp-validation-for="SelectedCategoryIds" class="text-danger"></span>
			</div>
		
			<script>
				ClassicEditor
					.create(document.querySelector('#editor'))
					.then(editor => {
						console.log(editor);
					})
					.catch(error => {
						console.error(error);
					});
			</script>

			<button asp-action="Create" class="btn btn-primary mr-2">Create</button>

		</form>
	</div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/ckeditor/ckeditor.js"></script>

