@using EduHome.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Sliders";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model List<Category>
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Categories</h4>

                    <div class="table-responsive">


                        <a asp-action="Create" class="btn btn-primary">Create</a>

                        <table class="table">
                            <thead>
                                <tr>


                                    <th>Name</th>

                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var category in Model)
                                {
                                    <tr>


                                        <td>@category.Name</td>
                                     


                                        <td>
                                            <a class="btn btn-primary" asp-action="Detail" asp-route-id="@category.Id"> Detail </a>

                                        </td>



                                        <td>
                                            <a class="btn btn-danger " asp-action="Delete" asp-route-id="@category.Id"> Delete </a>
                                        </td>
                                    </tr>

                                }



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


